@model IEnumerable<YouInvestMe.Models.Client>
    
<button onclick="history.back()" class="btn btn-primary mb-5 mt-3">&larr; Back </button>

<table class="table table-hover table-bordered" style="table-layout: fixed">
    <thead class="table-light text-center">
        <tr>
            <th class="d-none d-sm-table-cell">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="d-none d-sm-table-cell">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="d-none d-sm-table-cell">
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th class="d-none d-sm-table-cell">
                @Html.DisplayNameFor(model => model.RiskLevelId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="d-none d-sm-table-cell">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="d-none d-sm-table-cell" style="text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="d-none d-sm-table-cell">
                    @Html.DisplayFor(modelItem => item.Region)
                </td>
                <td class="d-none d-sm-table-cell">
                    @Html.DisplayFor(modelItem => item.RiskLevelId)
                </td>
                <td>
                    @using (Html.BeginForm())
                    {
                        @Html.Hidden("clientid", item.ClientId)
                        <input type="submit" value="Submit" class="btn btn-secondary mt-2 w-50" formmethod="post" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>