@model IEnumerable<YouInvestMe.Models.Idea>

@{
    ViewData["Title"] = "Index";
}

<h1 class="h1 mb-4">All ideas</h1>

<span>
    <a class="btn btn-primary mb-2"asp-action="Create">Create New</a>
</span>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdeaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdeaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdeaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
