@model IEnumerable<YouInvestMe.Models.Idea>

@{
    ViewData["Title"] = "Index";
}

@{
    string userrole = "";
}

@foreach (var claim in User.Claims)
{
    if (claim.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role")
    {
        userrole = claim.Value;
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abstract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            @if (userrole == "Manager" || item.UserID == User.Identity.Name){
            <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdeaId">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abstract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
        </tr>
    }
}
    </tbody>
</table>
