@model YouInvestMe.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternalInstrumentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternalInstrumentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstrumentDisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstrumentDisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstrumentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstrumentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RiskLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RiskLevel.RiskLevelId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
